@charset "UTF-8";
.banner-principal, .piedepagina, .banner-penal, .banner-familiar, .banner-laboral, .banner-comercial, .banner-civil, .banner-deportivo {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

/*banner-areas*/
.banner-penal {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/derechopenalarea.jpg);
}

.banner-familiar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/derechofamiliararea.jpg);
}

.banner-laboral {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/derecholaboralarea.jpg);
}

.banner-comercial {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/derechocomercialarea.jpg);
}

.banner-civil {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/derechocivilarea.jpg);
}

.banner-deportivo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/derechodeportivoarea.jpg);
}

/* dropdown areas*/
.work-btn {
  margin-top: 100px;
  margin-bottom: 100px;
}

.dropdown-definiciones .btn.dropdown-toggle {
  background-color: #f8f9fa;
  border-color: #dee2e6;
  color: #343a40;
  padding: 15px 20px;
  font-size: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
}
.dropdown-definiciones .btn.dropdown-toggle h2 {
  font-size: 22px;
  flex-grow: 1;
  text-align: left;
}
.dropdown-definiciones .btn.dropdown-toggle i.bi-plus-lg {
  font-size: 25px;
  margin-left: 10px;
}
.dropdown-definiciones .dropdown-menu {
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.dropdown-definiciones .dropdown-item {
  font-size: 15px;
  padding: 10px 20px;
  white-space: normal;
}

.dropdown-definiciones .btn.dropdown-toggle:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.dropdown-definiciones .btn.dropdown-toggle::after {
  display: none;
}

@media screen and (max-width: 992px) {
  .navbar {
    padding: 0%;
  }
  .navbar .navbar-brand img {
    display: none;
  }
  .navbar .collapse {
    background-color: white;
    text-align: center;
    margin: 0px;
    padding: 0%;
  }
  .reviews {
    flex-wrap: nowrap;
  }
}
@media (max-width: 575.98px) {
  .dropdown-definiciones .btn.dropdown-toggle {
    padding: 10px 15px;
    font-size: 18px;
  }
  .dropdown-definiciones .btn.dropdown-toggle h2 {
    font-size: 1.2rem;
  }
  .dropdown-definiciones .btn.dropdown-toggle i.bi-plus-lg {
    font-size: 18px;
  }
  .dropdown-definiciones .dropdown-item {
    font-size: 13px;
    padding: 8px 15px;
  }
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  color: black;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
}

/* nav-bar */
.navbar {
  padding: 2rem;
  background-color: white;
  height: 100px;
}
.navbar .navbar-collapse {
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
}
.navbar .navbar-collapse li {
  margin-right: 50px;
}
.navbar .navbar-collapse .nav-link:hover {
  color: black;
}
.navbar .navbar-brand img {
  margin-left: 100px;
  margin-right: 200px;
}

/*  banner */
.section1 {
  margin-bottom: 50px;
  margin-top: 100px;
}
.section1 .btn-banner a {
  transition: color 0.3s ease;
}
.section1 .btn-banner a:hover {
  color: #000000 !important;
}

.banner-principal {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/cabecera.jpg);
}

/* estudios*/
.estudios p {
  margin: 50px 15% 100px 15%;
}

/* areas-cards*/
.card-custom-bg {
  overflow: hidden;
  margin: 150px auto 150px auto;
  border: none;
  border-radius: 5px;
  max-width: 1000px;
}
.card-custom-bg img {
  flex: 1;
}
.card-custom-bg .card-body {
  flex: 1;
  padding: 0;
  background-color: rgb(115, 156, 127);
  height: 350px;
}
.card-custom-bg .card-body h1 {
  padding: 15px;
  margin: 10px auto 0 auto;
  font-size: 55px;
}
.card-custom-bg .card-body p {
  padding: 15px;
  margin: 5px auto 15px auto;
  font-size: 20px;
}
.card-custom-bg .card-body .btn-area {
  background-color: rgba(155, 154, 154, 0.781);
  border-radius: 5px;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  margin-bottom: 15px;
}
.card-custom-bg .card-body .btn-area:hover {
  background-color: rgba(0, 0, 0, 0.534);
}

/*  ubicación */
#ubicacion {
  padding: 1rem;
}
#ubicacion h2 {
  margin-bottom: 20px;
  padding: 1rem;
  text-align: center;
}
#ubicacion .contenedor-caba, #ubicacion .contenedor-provincia {
  border: 5px solid rgb(115, 156, 127) !important;
  border-radius: 13px !important;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 360px;
  height: 360px;
}
#ubicacion .contenedor-caba img, #ubicacion .contenedor-provincia img {
  max-width: 360px;
  height: 300px;
}
#ubicacion .contenedor-caba h3, #ubicacion .contenedor-provincia h3 {
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 2px;
  padding: 15px 0;
  line-height: 1.2;
}

/*pie-de-página*/
.piedepagina {
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/piedepagina.jpg);
}

#contactame {
  background-color: rgb(115, 156, 127);
  margin-top: 120px;
}

.btn-contacto {
  background-color: rgb(115, 156, 127);
}

.btn-contacto:hover {
  color: black;
}

/*reviews*/
.reviews-title {
  background-color: rgb(115, 156, 127);
  color: white;
  margin-top: 200px;
  margin-bottom: 120px;
}

.reviews {
  overflow-x: auto;
  flex-wrap: nowrap;
  padding-bottom: 15px;
}
.reviews .reviews-box {
  height: 250px;
  width: 16rem;
  border: 5px solid rgb(115, 156, 127) !important;
  border-radius: 13px !important;
  margin-left: 25px;
  margin-right: 25px;
  flex-shrink: 0;
}
.reviews .reviews-box .user {
  border-radius: 50%;
  width: 80px;
}
.reviews form button {
  margin-top: auto;
  display: none;
}

/*# sourceMappingURL=style.css.map */
