@use 'variables';
@use 'extend';
/*banner-areas*/
.banner-penal{
    @extend %base-banner;
    background-image: variables.$gradient,url(../img/derechopenalarea.jpg);
   
}
.banner-familiar{
    @extend %base-banner;
    background-image: variables.$gradient, url(../img/derechofamiliararea.jpg);
    
}
.banner-laboral{
    @extend %base-banner;
    background-image: variables.$gradient,url(../img/derecholaboralarea.jpg);
    
}
.banner-comercial{
    @extend %base-banner;
    background-image:variables.$gradient , url(../img/derechocomercialarea.jpg);
    
}
.banner-civil{
    @extend %base-banner;
    background-image: variables.$gradient, url(../img/derechocivilarea.jpg);
    
}
.banner-deportivo{
     @extend %base-banner;
    background-image: variables.$gradient, url(../img/derechodeportivoarea.jpg);
   
}
 /* dropdown areas*/
 .work-btn{
    margin-top: 100px;
    margin-bottom: 100px;
 }
 .dropdown-definiciones{
    .btn.dropdown-toggle {
    background-color: #f8f9fa; 
    border-color: #dee2e6; 
    color: #343a40; 
    padding: 15px 20px; 
    font-size: 25px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    border-radius: 9px;
    h2 {
    font-size: 22px;
    flex-grow: 1; 
    text-align: left;}
    i.bi-plus-lg {
    font-size: 25px; 
    margin-left: 10px; 
}
} 
.dropdown-menu {
    width: 100%; 
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}.dropdown-item {
    font-size: 15px;
    padding: 10px 20px;
    white-space: normal;
}
}
 
.dropdown-definiciones .btn.dropdown-toggle:hover {
    background-color: #e2e6ea; 
    border-color: #dae0e5;
}
.dropdown-definiciones .btn.dropdown-toggle::after {
    display: none;
}


