// mediaquerie-ubicación// 
@media screen and (max-width:992px) {
  .navbar{
    padding: 0%;
    .navbar-brand img{
      display: none;
    }
    .collapse{
      background-color: white;
      text-align: center;
      margin: 0px;
      padding: 0%;
    }
  }
  .reviews{
    flex-wrap: nowrap;
    }
  }
// mediaquerie-areas-definiciones// 
@media (max-width: 575.98px) {
  .dropdown-definiciones {
    .btn.dropdown-toggle {
      padding: 10px 15px; 
      font-size: 18px; 
      h2 {
        font-size: 1.2rem; 
      }
      i.bi-plus-lg {
        font-size: 18px; 
      }
    }
    .dropdown-item {
      font-size: 13px; 
      padding: 8px 15px; 
    }
  }
}


