@use 'variables';
@use'areas';
@use 'extend';
@use 'mediaquerie';

*{padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    color:black;
}
body{
    overflow-x: hidden;
}
h1{
    font-size: 2.5rem;
    font-family: "Playfair Display", serif;
}
/* nav-bar */
.navbar{
    padding:2rem;
    background-color: variables.$white;
    height: 100px;
    .navbar-collapse {
        align-items: center;
        justify-content: space-between;
        margin-right: 100px;
        margin-left: 100px;
        li{
            margin-right: 50px;}
        .nav-link:hover{
            color: black;
            }
        }
       .navbar-brand img{
            margin-left: 100px;
            margin-right: 200px;
       }
}
/*  banner */
.section1{
    margin-bottom: 50px;
    margin-top: 100px;
    .btn-banner{
       a {transition: color 0.3s ease;  }
       a:hover {color: #000000 !important;}
    }  
}
.banner-principal{
    @extend %base-banner;
    background-image: variables.$gradient,url(../img/cabecera.jpg); 
}
 /* estudios*/
.estudios 
{ p{
     margin: 50px 15% 100px 15%;      
}}
/* areas-cards*/
.card-custom-bg{
   overflow: hidden;
   margin: 150px auto 150px auto;
   border: none;
   border-radius: 5px;
   max-width: 1000px;
   img{flex:1;}
   .card-body{
   flex:1;
   padding:0;
   background-color: variables.$primary-color;
   height: 350px;
   h1{padding: 15px;
    margin:10px auto 0 auto; 
font-size: 55px;}
   p{padding: 15px;;
    margin:5px auto 15px auto;
    font-size: 20px;
   }
   .btn-area{
    background-color: rgba(155, 154, 154, 0.781);
    border-radius:5px;
    text-decoration: none; 
    padding: 15px;
    font-size: 20px;
    margin-bottom: 15px;}
    .btn-area:hover{
    background-color: rgba(0, 0, 0, 0.534);
}
}
}
/*  ubicación */
@mixin border-style( $border-val, $radius-val){ 
  border: $border-val; 
  border-radius: $radius-val; }
 #ubicacion{
    padding: 1rem;
    h2{
        margin-bottom:20px;
        padding: 1rem; 
        text-align: center;
    }
    .contenedor-caba,.contenedor-provincia
   { @include border-style( variables.$border, variables.$radius);
    display: flex; 
    padding: 1rem;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center;
    max-width:360px;
    height: 360px;
    img{ 
        max-width: 360px;
        height:300px
    }
    h3{font-size: 1.5rem;
      margin-top: 0px; 
      margin-bottom: 2px;
      padding: 15px 0;
      line-height: 1.2; 
} 
}
 }
 /*pie-de-pagina*/
 .piedepagina{
    @extend %base-banner;
    height: 70vh;
    background-image: variables.$gradient, url(../img/piedepagina.jpg);
}
#contactame{
    background-color: variables.$primary-color;
}
.btn-contacto{
     background-color: variables.$primary-color;
}
.btn-contacto:hover{
    color:black;}