[data-aos="fade-down"]{
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 3s;
}
[data-aos="zoom-in"]{
     opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 3s;
}