@use'variables';
.card-custom-bg{
   overflow: hidden;
   margin: 150px auto 150px auto;
   border: none;
   border-radius: 5px;
   img{flex:1;}
   .card-body{
   flex:1;
   padding:0;
   background-color: variables.$primary-color;
   height: 350px;
   h1{padding: 15px;
    margin:10px auto 0 auto; 
font-size: 55px;}
   p{padding: 15px;;
    margin:5px auto 15px auto;
    font-size: 20px;
   }
   .btn-area{
    background-color: rgba(155, 154, 154, 0.781);
    border-radius:5px;
    text-decoration: none; 
    padding: 15px;
    font-size: 20px;
    margin-bottom: 15px;}
    .btn-area:hover{
    background-color: rgba(0, 0, 0, 0.534);
}
}
}
 /* dropdown areas*/
 .work-btn{
    margin-top: 100px;
    margin-bottom: 100px;
 }
 .dropdown-definiciones{
    width: 60%;
    max-width: 700px;
    .btn.dropdown-toggle {
    background-color: #f8f9fa; 
    border-color: #dee2e6; 
    color: #343a40; 
    padding: 15px 20px; 
    font-size: 25px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    border-radius: 9px;
    span {
    flex-grow: 1; 
    text-align: left;}
    i.bi-plus-lg {
    font-size: 25px; 
    margin-left: 10px; 
}
} 
.dropdown-menu {
    width: 100%; 
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}.dropdown-item {
    font-size: 15px;
    padding: 10px 20px;
}
}
 
.dropdown-definiciones .btn.dropdown-toggle:hover {
    background-color: #e2e6ea; 
    border-color: #dae0e5;
}
.dropdown-definiciones .btn.dropdown-toggle::after {
    display: none;
}


