@use'variables';
@use'extend';

.piedepagina{
    @extend %base-banner;
    height: 70vh;
    background-image: variables.$gradient, url(img/piedepagina.jpg);
}
#contactame{
    background-color: variables.$primary-color;


}
.btn-contacto{
     background-color: variables.$primary-color;
}
.btn-contacto:hover{
    color:black;}

